
# TS 16 Nov 18 Must appear here not with other CPanels, unclear why
RewriteCond %{HTTP_HOST} ^corshambaptists\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.corshambaptists\.org$
RewriteRule ^preferences$ "https\:\/\/corshambaptists\.org\/privacy\-notice\/update\-your\-preferences\/" [R=301,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# Wordfence WAF
<IfModule LiteSpeed>
php_value auto_prepend_file '/home/corshamb/public_html/wordfence-waf.php'
</IfModule>
<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>
# END Wordfence WAF

# BEGIN litespeed noabort
# See https://www.wordfence.com/help/advanced/system-requirements/litespeed/

RewriteEngine On
RewriteRule .* - [E=noabort:1]

# END litespeed noabort

# Beyond here is added by CPanel
RewriteCond %{HTTP_HOST} ^debtadvicecentre\.org\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.debtadvicecentre\.org\.uk$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/corshammoneyanddebtadvicecentre\.co\.uk\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^priorystreetbaptistchurch\.org\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.priorystreetbaptistchurch\.org\.uk$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/corshambaptists\.org\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^corshambaptists\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.corshambaptists\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ "https\:\/\/corshambaptists\.org\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^sermon\/$ "https\:\/\/corshambaptists\.org\/teaching\/feed\/" [R=301,L]

